body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: conic-gradient(from 0deg at 50% 50%, #f45f09, #b19f28, #e6630c);
    color: rgb(116, 41, 197);
    font-style: normal;
    font-weight: 900;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
}
#tank2 ,#tank1{
    display: flex;
    align-items: center;
}

.line {
    width: 2px; 
    height: 60px; 
    background-color: lightgray;
    margin-left: 10px; 
}

#gameboard{
    height:640px;
    width:640px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    border: 20px solid black;
}

#info-display{
    font-size: xx-large;
    color: #f1f6f5;
}
.square{
    height:80px;
    width: 80px;
    position: relative;
}

#bullet{
    position: relative;
    transition: transform 0.3s linear;
    transform: scale(0.5);
}

#bullet svg{
    height:50px;
    width:50px;
}
.square svg {
    height: 60px;
    width: 60px;
    margin: 10px;
    position: relative;
    z-index: -5;
}

path{
    position: relative;
    z-index: -10;
}

.piece{
    position: relative;
    z-index: 5;
}
.beige{
    background-color: rgb(39, 37, 36);
}

.brown{
    background-color: rgb(232, 82, 18);
}

.black{
    fill: rgb(18, 233, 176);
}

.white{
    fill: rgb(241, 225, 8);
}

button {
    padding: 10px;
    margin: 10px;
    font-size: larger;
    cursor: pointer;
    color: #e6630c;
    background-color: rgb(19, 18, 17);
} 

#skipSpellforBlue, #skipSpellforYellow, #ShieldSpellforBlue, #ShieldSpellforYellow{
    border-radius: 8%;
    margin: 3%
}

#features{
    display: flex;
    justify-content: center;
}

@media (min-width:550px)and (max-width: 700px) {
    .beige{
        background-color: rgb(39, 37, 36);
    }
    
    .brown{
        background-color: rgb(232, 82, 18);
    }
    #gameboard {
        width: 500px;
        height: 500px;
    }
    #bullet svg{
        height:40px;
        width:40px;
    }
    #info-display{
        font-size: large;
        color: #f1f6f5;
    }
    .line {
        width: 2px; 
        height: 45px; 
        background-color: lightgray;
        margin-left: 8px; 
    }
    .square {
        width: 12.5%;
        height: 12.5%;
    }
    .black{
        fill: rgb(18, 233, 136);
    }
    
    .white{
        fill: rgb(241, 228, 8);
    }

    .square svg {
        height: 90%;
        width: 90%;
        margin: 10%;
        position: relative;
        z-index: -5;
    }

    .piece {
        width: 70%;
        height: 70%;
        margin: 10%;
    }

    .move-history {
        margin-top: 20px;
    }
    
    .timer, #player, #info-display {
        font-size: 14px;
    }

    .line {
        width: 2px; 
        height: 45px; 
        background-color: lightgray;
        margin-left: 10px; 
    }

    button {
        padding: 8px;
        font-size: 14px;
        margin: 8px;
        cursor: pointer;
        color: #e6630c;
        background-color: rgb(19, 18, 17);
    }

    #features{
        display: flex;
        justify-content: center;
    }
}

@media (min-width:360px)and (max-width: 550px) {
    #gameboard {
        width: 350px;
        height: 350px;
    }
    #bullet svg{
        height:20px;
        width:20px;
    }
    #info-display{
        font-size: medium;
        color: #f1f6f5;
    }
    .square {
        width: 12.5%;
        height: 12.5%;
    }
    .black{
        fill: rgb(18, 233, 136);
    }
    
    .white{
        fill: rgb(241, 228, 8);
    }

    .line {
        width: 2px; 
        height: 30px; 
        background-color: lightgray;
        margin-left: 10px; 
    }

    .square svg {
        height: 90%;
        width: 90%;
        margin: 10%;
        position: relative;
        z-index: -5;
    }

    .piece {
        width: 70%;
        height: 70%;
        margin: 10%;
    }

    .move-history {
        margin-top: 14px;
    }
    
    .timer, #player, #info-display {
        font-size: 10px;
    }

    button {
        padding: 5px;
        font-size: 10px;
        margin: 5px;
        cursor: pointer;
        color: #e6630c;
        background-color: rgb(19, 18, 17);
    }
}
